@tailwind base;
@tailwind components;
@tailwind utilities;

header ul a:hover::after,
header ul a:focus::after {
  width: 100%;
}
header ul a::after {
  content: "";
  position: absolute;
  left: 0;

  top: 120%;
  height: 3px;
  width: 0;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}
header ul a.active::after {
  width: 100%;
}
.mobiletogglespan {
  right: calc(2.5% + 5px);
}
.card_header {
  width: calc(100% - 8px);
}
/* spinner */
.loaderRectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 3px;
}

.loaderRectangle div {
  width: 10px;
  height: 16px;
  animation: 0.9s ease-in-out infinite;
  /* background: #183153; */
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.loaderRectangle div:nth-child(1) {
  animation-name: rectangleOneAnim;
  animation-delay: 1s;
}
.card_link:hover .card,
.card_link:focus .card {
  scale: 1.05;
  background-color: hsl(var(--secondary));
}
@keyframes rectangleOneAnim {
  0% {
    height: 15px;
  }

  40% {
    height: 30px;
  }

  100% {
    height: 15px;
  }
}

.loaderRectangle div:nth-child(2) {
  animation-name: rectangleTwoAnim;
  animation-delay: 1.1s;
}

@keyframes rectangleTwoAnim {
  0% {
    height: 15px;
  }

  40% {
    height: 40px;
  }

  100% {
    height: 15px;
  }
}

.loaderRectangle div:nth-child(3) {
  animation-name: rectangleThreeAnim;
  animation-delay: 1.2s;
}

@keyframes rectangleThreeAnim {
  0% {
    height: 15px;
  }

  40% {
    height: 50px;
  }

  100% {
    height: 15px;
  }
}

.loaderRectangle div:nth-child(4) {
  animation-name: rectangleFourAnim;
  animation-delay: 1.3s;
}

@keyframes rectangleFourAnim {
  0% {
    height: 15px;
  }

  40% {
    height: 40px;
  }

  100% {
    height: 15px;
  }
}

.loaderRectangle div:nth-child(5) {
  animation-name: rectangleFiveAnim;
  animation-delay: 1.4s;
}

@keyframes rectangleFiveAnim {
  0% {
    height: 15px;
  }

  40% {
    height: 30px;
  }

  100% {
    height: 15px;
  }
}

#pagination_parent .css-r93niq-MuiButtonBase-root-MuiPaginationItem-root:hover {
background: hsl(var(--secondary));
}
#pagination_parent .css-1v2lvtn-MuiPaginationItem-root, #pagination_parent .css-16y9h98 {
    color: hsl(var(--card-foreground));
}
#pagination_parent .css-r93niq-MuiButtonBase-root-MuiPaginationItem-root, #pagination_parent .css-21ve8j {
  color: hsl(var(--card-foreground));
  border: 1px solid hsl(var(--card-foreground));
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
